@font-face {
    font-family: nasa;
    src: url("../fonts/nasalization-rg.ttf");
}
/* Redimensionnement de l'espacement du conteneur avec le body */
#content{
    padding-top: 5em;
}
/* Entête du formulaire avec un fond orange */
.header{
    height:50px;
    background-color: #F56D02;
    font-size: 20px;
    font-family: nasa;
    color:#FFF;
    text-align: center;
    border-radius: 4px;
}
#contact{
    margin:0;
    line-height:48px;
}
/* Positionnement de l'image dans l'entête */
.header img{
    width:20px;
    height:20px;
    display: inline-block;
    line-height: 18px;
    margin-left: 2em;
}
/* Titre du header "Me Contacter" */
h3{
    margin:0;
}
/* Corps du formulaire avec une largeur et hauteur prédéfini */
form{
    margin-left: 5em;
    position: relative;
    width:700px;
    height:400px;
    background-color:#FAF9F9;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.name{
    padding-top:1.5em;
}
.mail{
    margin-top: 1em;
}
/* Texte du formulaire en noir */
label{
    display: inline-block;
    font-size: 16px;
    color:#000;
    margin-left: 1.5em;
    text-align: center;
}
#msg{
   margin-top:4em;
}
}
/* Permet l'interaction de l'utilisateur */
input{
    display: inline-block;
    margin-top:3em;
    font: 16px sans-serif;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid grey;
}
/* Permet d'entrez une chaine de caractères */ 
textarea{
    height:100px;
    width:300px;
    vertical-align: top;
    box-sizing:border-box;
    border: 1px solid grey;
    margin-top:1.5em;
    
}
/* Permet l'envoi du message au correspondant */
button{
    color:#FFF;
    width:90px;
    height:40px;
    display: block;
    margin: auto;
    margin-top:2em;
    background-color: #F56D02;
    border-radius:4px;
}
#insta_icon{
    width:68px;
    height:68px;
    float:right;
    margin-bottom:5em;
}
